/* 
    index.html的样式表
 */

 .topbar-wrapper{
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #333;
 }

 .topbar a{
    font-size: 12px;
    color: #b0b0b0;
    display: block;
 }

 .topbar a:hover{
    color: white;
 }

 .topbar .line{
    color: #424242;
    font-size: 12px;
    margin: auto 8px;
 }

 .service, .topbar li{
    float: left;
 }
 
 .app{
   position: relative;
 }
 
/* app下的小三角 */
 .app .qrcode::before{
   position: absolute;
   border:10px solid transparent;
   width: 0;
   height: 0;
   content: '';
   border-top: none;
   border-bottom-color: white;
   top:-8px;
   left: 0;
   right: 0;
   margin: auto;
 }

 /*  */
 .app:hover .qrcode{
   height: 148px;
    /* visibility: visible; */
 }

 /* 设置下载app下来 */
 .app .qrcode{
    position: absolute;
    width: 124px;
    height: 0px;
    overflow: hidden;
    color: #424242;
    text-align: center;
    left: -40px;
    background-color: white;
    /* visibility: hidden; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition:height 0.2s;
    z-index: 9999;
 }

 .app .qrcode img{
    width: 90px;
    margin: 0 auto;
    padding-top: 17px;
 }


 .shop-cart{
    position: relative;
    float: right;
    margin-left: 25px;
 }

 /* 购物车样式 */
 .shop-cart a{
    width: 120px;
    background-color: #424242;
    text-align: center;
 }

 .shop-cart:hover a{
    background-color: white;
    color: orange;
 }

 .shop-cart:hover .shop-info{
   height: 100px;
 }

 .shop-info{
   width: 315px;
   height: 0;
   position:absolute;
   right: 0px;
   overflow: hidden;
   background-color: white;
   line-height: 100px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
   transition:height 0.3s;
   z-index: 99999;
 }

 .shop-info span{
   color: #3F423F;
 }



 .user-info{
    float: right;
 }


/* 设置中间的header */
.header-wrapper{
   position: relative;
   /* background-color: red; */
}
.header{
   height: 100px;
   /* background-color: #bfa; */
}

/* 设置logo的h1 */
.logo{
   float: left;
   margin-top: 22.5px;
   width: 55px;
   height: 55px;
   position: relative;
   overflow: hidden;
   text-indent: -9999px;
}

.logo:hover .mi{
   left: 55px;
}

.logo:hover .mi{
   left: 0px;
}

/* 设置logo的超链接 */
.header .logo a{
   position: absolute;
   width: 55px;
   height: 55px;
   left: 0px;
   background-color: rgb(105, 97, 219);
   background-image: url(../images/logo.png);
   background-repeat: no-repeat;
   background-size: 40px 40px;
   background-position: center;
   transition: left 0.3s;
}

/* 设置home图片 */
.header .logo .home{
   background-image: url(../images/home.png);
   left: -55px;
   /* transition: left 0.5s; */
}

/* 设置鼠标移入后的效果 */
.header .logo:hover .mi{
   left: 55px;
}

/* 设置鼠标移入后的效果 */
.header .logo:hover .home{
   left: 0px;
}

.header .nav-wrapper{
   float: left;
   margin-left: 7px;
   /* background-color: red; */
}

.header .nav{
   height: 100px;
   line-height: 100px;
   margin-left: 58px;
}

.all-goods{
   visibility: hidden;
}

.nav > li{
   float: left;
}

.all-goods-wrapper{
   position: relative;
}

.nav li a{
   font-size: 16px;
   margin: 0 10px;
   padding: 20px 0px;
   /* display: block; */
   /* background-color: red; */
}

.nav li a:hover{
   color: #ff6700;
}

/* 左侧导航条 */
.left-menu{
   height: 460px;
   width: 234px;
   padding: 20px 0;
   background-color: rgba(0, 0, 0, 0.6);
   position:absolute;
   z-index: 999;
   left: -120px;
   line-height: 1;
}

ul.left-menu a{
   padding: 0;
   font-size: 14px;
   display: block;
   height: 42px;
   line-height: 42px;
   color: white;
   padding: 0 30px;
   margin: 0;
}

ul.left-menu a:hover{
   color: white;
   background-color: #ff6700;
}

.left-menu a i{
   float: right;
   font-size: 14px;
   line-height: 42px;
}

.nav .goods-info{
   width: 100%;
   height: 0px;
   background-color: white;
   position: absolute;
   left: 0;
   top: 100px;
   box-sizing: border-box;
   transition: height 0.3s;
   z-index: 999;
}

.nav li:not(:nth-of-type(1), :nth-of-type(10),:nth-of-type(9)):hover ~ .goods-info,
.goods-info:hover{
   height: 228px;
   border-top: #b0b0b0 1px solid;
   box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

.header .search-wrapper{
   float: right;
   width: 296px;
   height: 50px;
   background-color: red;
   margin-top: 25px;
   box-sizing: content-box;
}

.search-wrapper .search-inp{
   float: left;
   height: 50px;
   width: 244px;
   padding: 0 10px;
   outline: none;
   border: none;
   font-size: 16px;
   border: 1px solid rgb(224 , 224, 224);
   border-right: none;
}

.search-wrapper .search-inp:focus{
   border: 1px solid #C38048;
}

.search-wrapper .search-inp:focus + .search-btn{
   border: 1px solid #C38048;
   border-left: none;
}

.search-wrapper .search-inp:hover{
   border: 1px solid #C38048;
}

.search-wrapper .search-inp:hover + .search-btn{
   border: 1px solid #C38048;
   border-left: none;
}

.search-wrapper .search-btn{
   float: left;
   height: 50px;
   width: 52px;
   border: none;
   background-color: #fff;
   color:#616161;
   font-size: 16px;
   border: 1px solid rgb(224, 224, 224);
   /* border-left: none; */
}

.search-wrapper .search-btn:hover{
   background-color: #FF7100;
   color: white;
   border: none;
}

.banner{
   position: relative;
   height: 460px;
}
.banner .img-list li{
   position: absolute;
}


/* 设置banner */
.banner img{
   width: 1226px;
   height: 460px;
}

.pointer{
   position: absolute;
   bottom: 22px;
   right: 35px;
}

.pointer a{
   float: left;
   width: 12px;
   height: 12px;
   border: 3px #B3B5B2 solid;
   border-radius: 50%;
   background-color: #949794;
   margin-left: 6px;
}

.pointer a:hover{
   background-color: #EAF9F5;
}

.to-top{
   position: fixed;
   width: 26px;
   height: 206px;
   background-color: orange;
   /* border: 1px solid #616161; */
   border-left: none;
   bottom: 100px;
   z-index: 99999;
   bottom: 340px;
   right: 50%;
   margin-right: -639px;
}


.ad .shortcut{
   margin-top: 20px;
   width: 234px;
   height: 170px;
   background-color: #60574E;
   padding-left: 4px;
   float: left;
}

.ad .shortcut li{
   float: left;
}

.ad .shortcut li a{
   text-align: center;
   width: 76px;
   height: 84px;
   line-height: 84px;
   display: block;
   color: #cfccca;
   font-size: 12px;
   background-color: #3A332E;
   overflow: hidden;
}

.ad .shortcut li a:hover{
   color: white;
}

.ad .bbb{
   margin-top: 20px;
}

.ad .bbb li{
   float: right;
}

.ad .bbb li a{
   display: block;
}

.ad .bbb li a:hover{
   box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.ad .bbb li a img{
   height: 170px;
}