.box{
    width: 500px;
    border: 1px solid #ccc;
    /*外边距 盒子和盒子之间的距离 margin*/
    margin-left: auto;
    margin-right: auto;
}
.box h2{
    border: 1px solid skyblue;
    height: 40px;
    line-height: 40px;
    color: red;
    font-weight: normal;
}
.box li{
    border: 1px solid #ccc;
    list-style: url(../images/arrow.png);
    height: 30px;
    line-height: 30px;
}